---
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial";
import TwoCol from "../components/TwoCol.astro";
import AboutMoorehouse from "@components/about-moorehouse.astro";
import WhatToExpect from "@components/WhatToExpect.astro";
import Layout from "../layouts/Layout.astro";
import WhatWeOffer from "../components/WhatWeOffer.astro";
import Gallery from "../components/Gallery";
import { getEntry } from "astro:content";
import IndustrialPainting from "../components/IndustrialPainting.astro";
import Faq from "../components/Faq.astro";

const homePage:any = await getEntry("pages","home");
const seodata = homePage?.seoData;
interface blockProps {
    discriminant: string;
    value: any;
}
---

<Layout
    title={seodata?.seoTitle}
    description={seodata?.seoDesription}
    image={seodata?.ogImage}
>
{
    homePage?.data.blocks.map((block:blockProps)=>(
        <main>
            {block.discriminant == "hero" && <Hero {...block.value} />}
            {block.discriminant == "aboutmoorhouse" && <AboutMoorehouse {...block.value} />}
            {block.discriminant == "whatWeOffer" && <WhatWeOffer {...block.value} />}
            {block.discriminant == "gallerys" && <Gallery {...block.value} client:only />}
            {block.discriminant == "whatToExpect" && <WhatToExpect {...block.value} />}
            {block.discriminant == "industrialPainting" && <IndustrialPainting {...block.value} />}
            {block.discriminant == "twoColumn" && <TwoCol {...block.value} />}
            {block.discriminant == "frequentlyAskedQuestions" && <Faq {...block.value} />}
            {block.discriminant == "testimonials" && <Testimonial client:only {...block.value} />}
        </main>
    ))
}
</Layout>
