---
import DetailLayout from "@layouts/DetailLayout.astro";
---
<DetailLayout>
<section class="h-[80vh] flex flex-col justify-center items-center">
    <h2 class="font-bold text-center text-3xl">
        Thank you for your interest in Moorhouse Painting!
      </h2>
</section>
</DetailLayout>