---
import DetailLayout from "@layouts/DetailLayout.astro";
---
<DetailLayout>
<section class="h-[50vh] flex flex-col justify-center items-start ">
  <div class="custom-container mx-auto lg:px-12 space-y-8">
    <h1 class="font-bold text-3xl md:text-4xl lg:text-6xl">
        Thank you
      </h1>
      <p class="text-lg">Thank you for choosing Moorhouse Coating. Our estimator will contact you shortly about <br class="hidden md:block"/> scheduling a date and time for your consultation.
      </p>
    </div>
</section>
</DetailLayout>