---
import Accordion from "./Accordion.astro";

interface accordion {
  title: string;
  answer: string;
}

interface faqprops {
  pretitle: string;
  heading: string;
  FrequentlyAskedQuestions: accordion[];
}

const { pretitle, heading, FrequentlyAskedQuestions } = Astro.props;

// Create FAQ Schema
const faqSchema = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: FrequentlyAskedQuestions.map((faq: any) => ({
    "@type": "Question",
    name: faq.title,
    acceptedAnswer: {
      "@type": "Answer",
      text: faq.answer,
    },
  })),
};
---

<section class="lg:py-20 py-10 px-6">
  <!-- Inject FAQ Schema in the component -->

  <div class="custom-container">
    <p class="text-helper text-center text-lg mb-5">{pretitle}</p>
    <h2
      class="lg:text-6xl md:text-5xl text-4xl mb-12 lg:mb-32 lg:leading-[70px] mx-auto font-medium text-center text-black"
    >
      {heading}
    </h2>

    {FrequentlyAskedQuestions.map((item: any) => <Accordion {...item} />)}
  </div>
</section>
<script type="application/ld+json" set:html={JSON.stringify(faqSchema)} />
