<form action="/api/quote" method="POST">
  <div class="flex justify-center items-center md:flex-row w-full flex-col gap-4 mb-8">
    <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
      <label for="firstName" class="text-white">First Name*</label>
      <input
        id="firstName"
        name="firstName"
        type="text"
        placeholder="Enter first name"
        required
        class="rounded-xl w-full h-14 px-4 outline-none text-white border-white border bg-transparent placeholder:text-white/60"
      />
    </div>
    <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
      <label for="lastName" class="text-white">Last Name*</label>
      <input
        id="lastName"
        name="lastName"
        type="text"
        placeholder="Enter last name"
        required
        class="rounded-xl w-full h-14 px-4 outline-none text-white border-white border bg-transparent placeholder:text-white/60"
      />
    </div>
  </div>
  <div class="flex justify-center items-center md:flex-row w-full flex-col gap-4 mb-8">
    <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
      <label for="phoneNumber" class="text-white">Phone Number*</label>
      <input
        id="phoneNumber"
        name="phoneNumber"
        type="tel"
        placeholder="Enter phone number"
        required
        class="rounded-xl w-full h-14 px-4 border-white outline-none text-white border bg-transparent placeholder:text-white/60"
      />
    </div>
    <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
      <label for="emailAddress" class="text-white">Email Address*</label>
      <input
        id="emailAddress"
        name="emailAddress"
        type="email"
        placeholder="Enter email address"
        required
        class="rounded-xl w-full h-14 px-4 border-white outline-none text-white border bg-transparent placeholder:text-white/60"
      />
    </div>
  </div>
  <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
    <label for="address" class="text-white">Street Address*</label>
    <input
      id="address"
      name="address"
      type="text"
      placeholder="Enter street address"
      required
      class="rounded-xl w-full h-14 px-4 outline-none text-white border-white border bg-transparent placeholder:text-white/60"
    />
  </div>
  <div class="flex justify-center items-center gap-4 md:flex-row w-full flex-col mt-8">
    <div class="flex-1 flex justify-start items-start flex-col w-full gap-2">
      <label for="city" class="text-white">City*</label>
      <input
        id="city"
        name="city"
        type="text"
        placeholder="Enter city"
        required
        class="rounded-xl w-full h-14 px-4 outline-none text-white border-white border bg-transparent placeholder:text-white/60"
      />
    </div>
    <div class="flex-1 flex justify-center items-center gap-2">
      <div class="flex-1 justify-start items-start flex-col gap-2">
        <label for="state" class="text-white">State*</label>
        <select id="state" name="state" required class="rounded-xl mt-2 w-full h-14 px-4 border-white outline-none text-white border bg-transparent placeholder:text-white/60">
          <option value="" disabled selected>Select state</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <!-- Add more states here -->
        </select>
      </div>
      <div class="flex-1 flex justify-start items-start flex-col gap-2">
        <label for="zipcode" class="text-white">Postal Code*</label>
        <input
          id="zipcode"
          name="zipcode"
          type="text"
          placeholder="Enter zip code"
          required
          class="rounded-xl w-full h-14 px-4 outline-none text-white border-white border bg-transparent placeholder:text-white/60"
        />
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center gap-4 md:flex-row w-full flex-col mt-8">
    <div class="flex flex-1 justify-start items-start w-full flex-col gap-2">
      <label for="comments" class="text-white">Other Comments</label>
      <input
        id="comments"
        name="comments"
        placeholder="Any additional helpful details"
        class="rounded-xl w-full h-14 px-4 py-2 border-white outline-none text-white border bg-transparent placeholder:text-white/60 resize-none"
      />
    </div>
    <div class="md:max-w-[13rem] w-full flex justify-start items-start flex-col gap-2">
      <label class="text-white">Property Type*</label>
      <div class="flex-1 justify-start items-start flex-col gap-2 w-full">
        <select id="propertyType" name="propertyType" required class="rounded-xl w-full h-14 px-4 border-white outline-none text-white border bg-transparent placeholder:text-white/60">
          <option value="" disabled selected>Project Type</option>
          <option value="commercial">Commercial</option>
          <option value="residential">Residential</option>
        </select>
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="bg-secondary w-full rounded-xl h-14 mt-12 text-[#333] font-bold text-lg"
  >Get My FREE Estimate!</button>
</form>