<div class="bg-secondary relative z-50">
  <div
    class="text-white xl:hidden custom-container lg:px-14 px-0  flex justify-between items-center gap-4 py-2"
  >
    <p class="flex justify-center items-center text-sm gap-2 mr-4">
      <img src="/assets/icons/message.svg" alt="" /> <span>info@moorhousecoating.com</span>
    </p>
    <div class="flex justify-center items-center gap-3">
      <img src="/assets/icons/instagram.svg" alt="" />
      <img src="/assets/icons/facebook.svg" alt="" />
      <img src="/assets/icons/youtube.svg" alt="" />
    </div>
  </div>
</div>
<div class="custom-container bg-nav-gradient">
  <div class="relative lg:px-14 z-50 flex justify-between items-center gap-14">
    <div class="w-fit relative z-50">
      <img src="/assets/images/logo.png" class="w-36" alt="" />
    </div>
    <div class="lg:w-full">
      <div
        class="text-white xl:flex w-full hidden justify-end items-center gap-4 border-b pb-4 border-[#D9D9D980]"
      >
        <p class="flex justify-center items-center text-sm gap-2 mr-8">
          <img src="/assets/icons/message.svg" alt="" />info@moorhousecoating.com
        </p>
        <img src="/assets/icons/instagram.svg" alt="" />
        <img src="/assets/icons/facebook.svg" alt="" />
        <img src="/assets/icons/youtube.svg" alt="" />
      </div>
      <div
        class="lg:flex lg:rounded-b-3xl rounded-b-[30px] lg:flex-row hidden flex-col lg:static absolute top-0 left-0 lg:right-0 l lg:bg-transparent bg-primary w-full justify-end items-center lg:pb-0 pb-4 text-white text-sm gap-8 lg:pt-6 pt-40"
        id="menu-items"
      >
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Gallery</a>
        <a href="">Blog</a>
        <div class="flex justify-center items-center gap-4">
          <a
            href=""
            class="rounded-full px-4 py-2 gap-3 text-sm whitespace-nowrap bg-transparent border border-white flex text-white justify-center items-center w-fit"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              viewBox="0 0 19 19"
              fill="none"
            >
              <g clip-path="url(#clip0_1_36)">
                <path
                  d="M16.2164 2.78147C12.5059 -0.927943 6.49077 -0.927052 2.78135 2.78351C-0.928065 6.49408 -0.927175 12.5091 2.78339 16.2186C6.49396 19.928 12.509 19.9271 16.2184 16.2165C17.9999 14.4345 19.0005 12.0177 18.9999 9.49797C18.9994 6.97862 17.9981 4.56265 16.2164 2.78147ZM14.3873 13.2334C14.3869 13.2338 14.3865 13.2343 14.386 13.2347V13.2315L13.9047 13.7097C13.2822 14.34 12.3756 14.5994 11.5139 14.3937C10.6457 14.1613 9.82037 13.7914 9.0692 13.298C8.37132 12.852 7.72458 12.3306 7.1407 11.7432C6.60347 11.2099 6.12082 10.6243 5.69986 9.99516C5.2394 9.31821 4.87495 8.58078 4.61686 7.80382C4.32098 6.89108 4.56616 5.88953 5.2502 5.21666L5.81386 4.65301C5.97057 4.49559 6.22521 4.49504 6.38259 4.65175C6.383 4.65216 6.38345 4.65256 6.38386 4.65301L8.16351 6.43266C8.32093 6.58938 8.32148 6.84402 8.16477 7.0014C8.16436 7.00181 8.16396 7.00222 8.16351 7.00266L7.11851 8.04766C6.81867 8.34424 6.78096 8.81553 7.02986 9.15601C7.40781 9.67472 7.82607 10.1628 8.2807 10.6159C8.78758 11.1249 9.33862 11.588 9.92736 11.9997C10.2675 12.237 10.7287 12.197 11.023 11.9047L12.0332 10.8787C12.1899 10.7213 12.4445 10.7207 12.6019 10.8774C12.6023 10.8778 12.6027 10.8783 12.6032 10.8787L14.386 12.6647C14.5435 12.8214 14.544 13.076 14.3873 13.2334Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_36">
                  <rect width="19" height="19" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            1 (435) 655-9076
          </a>
          <a
            href={"/"}
            class="rounded-full px-4  bg-primary whitespace-nowrap gap-3 text-sm text-[#333] py-2 border border-primary flex justify-center items-center w-fit"
            >Contact Us <svg
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              viewBox="0 0 26 27"
              fill="none"
            >
              <g clip-path="url(#clip0_1_74)">
                <path
                  d="M25.4522 12.0392L20.3525 6.93945L19.5881 7.70382L24.5808 12.6965H0V13.7777H24.5786L19.587 18.7693L20.3514 19.5337L25.4522 14.4328C26.1117 13.7733 26.1117 12.6987 25.4522 12.0392Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_74">
                  <rect
                    width="25.9474"
                    height="25.9474"
                    fill="white"
                    transform="translate(0 0.263184)"></rect>
                </clipPath>
              </defs>
            </svg></a
          >
        </div>
      </div>
      <div class="lg:hidden flex relative z-50" id="bars">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 24 24"
        >
          <path
            fill="#ffffff"
            d="M19 12.75H5a.75.75 0 0 1 0-1.5h14a.75.75 0 0 1 0 1.5Zm0-4.5H5a.75.75 0 0 1 0-1.5h14a.75.75 0 0 1 0 1.5Zm0 9H5a.75.75 0 0 1 0-1.5h14a.75.75 0 0 1 0 1.5Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<script>
  const bars = document.querySelector("#bars");
  const menu_items = document.querySelector("#menu-items");

  bars?.addEventListener("click", () => {
    menu_items?.classList.toggle("hidden");
    menu_items?.classList.toggle("flex");

  });
</script>
