---
const { title, subtitle, Button } = Astro.props;
---

<div
  class="font-body pt-16 pb-20 mb-16 lg:mt-16 lg:rounded-[90px] rounded-[30px] w-full industry-bg bg-cover"
>
  <!-- <div class="hero-bg"></div> -->
  <svg
    width="1128"
    height="683"
    viewBox="0 0 1128 683"
    class="absolute left-0 top-0 blur-[127.5px] rounded-[1101px] w-full lg:w-fit"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_1_606)">
      <circle cx="322.5" cy="371.5" r="550.5" fill="white" fill-opacity="0.76"
      ></circle>
    </g>
    <defs>
      <filter
        id="filter0_f_1_606"
        x="-483"
        y="-434"
        width="1611"
        height="1611"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="127.5"
          result="effect1_foregroundBlur_1_606"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="custom-container relative z-[20]">
    <div class="lg:mx-12">
      <h1
        class="lg:text-6xl md:text-5xl text-4xl lg:leading-[90px] text-start text-black font-medium lg:w-[45%]"
        set:html={title}
      />
      <p class="mt-6 mb-8 text-lg text-start lg:w-[45%]">{subtitle}</p>
      <a
        href={Button.link}
        class="rounded-full px-4 whitespace-nowrap py-3 gap-3 text-white bg-helper w-fit border border-helper flex justify-center items-center"
      >
        {Button.label}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="27"
          viewBox="0 0 26 27"
          fill="none"
        >
          <g clip-path="url(#clip0_1_426)">
            <path
              d="M25.4522 12.0392L20.3525 6.93945L19.5881 7.70382L24.5808 12.6965H0V13.7777H24.5786L19.587 18.7693L20.3514 19.5337L25.4522 14.4328C26.1117 13.7733 26.1117 12.6987 25.4522 12.0392Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_426">
              <rect
                width="25.9474"
                height="25.9474"
                fill="white"
                transform="translate(0 0.263184)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </div>
</div>
