---
const {pretitle,description,title} = Astro.props;
import {marked} from "marked";
const renderContent = marked.parse(description)
---
<div class="custom-container text-center lg:py-12 py-12">
  <h3 class="text-primary">{pretitle}</h3>
  <h2 class="mt-5 mb-10 text-6xl font-bold">{title}</h2>
  <div
    set:html={renderContent}
    class=" prose mx-auto text-lg  text-center lg:px-12"
  />
</div>