---
const {featuredImage,galleryImages} = Astro.props;
import { Image } from "astro:assets";
---
<section class="custom-container lg:mt-10 lg:py-20 py-16">
    <div class="lg:px-12">
        <Image src={featuredImage} alt="Service Featured Image" width={1920} height={800} class="w-full rounded-xl" />
{
    galleryImages.length > 0 && (
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
            {galleryImages.map((image) => (
                <Image
                    src={image}
                    alt="Service Gallery Image"
                    width={600}
                    height={400}
                    class="rounded-xl"
                />
            ))}
        </div>
    )
}
    </div>
</section>