---
import TwoCol from "./TwoCol.astro";
interface card {
  Cardicon: string;
  cardText: string;
  cardDescription: string;
}

interface WhatWeOfferProps {
  pretitle: string;
  heading: string;
  whatweoffer: card[];
}
// @ts-ignore
const { pretitle, heading, whatweoffer, bgImage }: WhatWeOfferProps =
  Astro.props; // Access data prop directly
---

<div
  class="font-body rounded-[30px] lg:mt-16 mt-8 lg:mx-12 mx-6 bg-[#047291] overflow-hidden"
>
  <div
    class="h-full lg:py-[85px] py-12 bg-cover bg-top relative"
    style={`background-image: url(${bgImage})`}
  >
    <div class="h-full w-full bg-[#047291] opacity-50 absolute top-0 bottom-0">
    </div>
    <div class="relative z-50 custom-container">
      <p class="text-secondary text-center text-lg mb-5">{pretitle}</p>
      <h2
        class="lg:text-6xl md:text-5xl text-4xl xl:w-[60%] lg:leading-[70px] mx-auto font-medium text-center text-white"
      >
        {heading}
      </h2>
    </div>
  </div>
</div>
<div class="lg:my-[39px] my-12">
  {
    whatweoffer.map((item: card, index: number) => (
      <div class="md:py-16 py-6">
        <TwoCol {...item} index={index + 1} steps />
      </div>
    ))
  }
</div>
