---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "@components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

const { title, description, image } = Astro.props;
---

<html lang="en">
    <head> </head>
    <BaseHead title={title} description={description} image={image} />
    <ViewTransitions />
    <body>
        <Header />
        <main class="overflow-x-hidden">
            <slot />
        </main>
        <Footer />
    </body>


</html>
